.action-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.action-button {
    width: 100%;
    height: auto;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-base-dark);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.action-button img {
    width: 5.8rem;
    height: auto;
    transition: transform 0.2s ease;
}


.green-button {
    background-color: var(--color-accent);
}

.green-button:hover img,
.camera-button:hover img {
    transform: scale(1.1);
}

.camera-button {
    background-color: var(--color-base-dark);
}

.camera-button img {
    width: 7rem; /* Tamaño específico para el ícono de la cámara */
    height: auto;
    transition: transform 0.2s ease;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-buttons .action-button {
    width: 100%;
    height: auto;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-base-dark);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.action-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.action-button img {
    width: 5.8rem;
    height: auto;
    transition: transform 0.2s ease;
}

.action-button:hover img {
    transform: scale(1.1);
}