body.no-overscroll {
    overscroll-behavior: none;
}

body {
    overflow-x: hidden; /* Ocultar el scroll horizontal */
}
/* Contenedor principal con flexbox */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    max-width: 100%; /* Evitar desbordamiento horizontal */
    overflow: hidden; /* Ocultar cualquier desbordamiento */
    padding: 16px;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

/* Estilo del encabezado */
.header {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    padding: 0.8rem 0;
    /* border: 2px solid var(--color-emphasis); */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Una sola columna en móviles */
    }

    .action-buttons-container {
        max-width: none; /* Permitir que ocupe todo el ancho en móviles */
    }

    .header-button {
        position: static;
        transform: none;
        margin-bottom: 16px;
    }

    .camera-container {
        width: 100%;
        max-width: none;
    }
}